@model stages.Models.Date

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Date</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Datecontact">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
