@model stages.Models.Propositionsstage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Propositionsstage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Noproposition" />
            <div class="form-group">
                <label asp-for="Noentreprise" class="control-label"></label>
                <select asp-for="Noentreprise" class="form-control" asp-items="ViewBag.Noentreprise"></select>
                <span asp-validation-for="Noentreprise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noconvention" class="control-label"></label>
                <select asp-for="Noconvention" class="form-control" asp-items="ViewBag.Noconvention"></select>
                <span asp-validation-for="Noconvention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConNoconvention" class="control-label"></label>
                <select asp-for="ConNoconvention" class="form-control" asp-items="ViewBag.ConNoconvention"></select>
                <span asp-validation-for="ConNoconvention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sujetpropose" class="control-label"></label>
                <input asp-for="Sujetpropose" class="form-control" />
                <span asp-validation-for="Sujetpropose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dateproposition" class="control-label"></label>
                <input asp-for="Dateproposition" class="form-control" />
                <span asp-validation-for="Dateproposition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duree" class="control-label"></label>
                <input asp-for="Duree" class="form-control" />
                <span asp-validation-for="Duree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remuneration" class="control-label"></label>
                <input asp-for="Remuneration" class="form-control" />
                <span asp-validation-for="Remuneration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
